<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Fecha %>
    <%= form.date_select :meet_date %>
  </div>

  <div class="field">
  <%= form.label :meet_time %>
  <%= form.time_select :meet_time, { start_hour: 8, end_hour: 20, minute_step: 15 } %>
  </div>

  <div class="field">
    <%= form.label :Motivo %>
    <%= form.text_area :meet_motive %>
  </div>

  <div class="controls">
    <%= form.label :Medico %>
    <%= form.select :medico_id, Medico.all.map{|med| [med.specialty, med.id]} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
