<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Meet date</th>
      <th>Meet time</th>
      <th>Meet motive</th>
      <th>Meet state</th>
      <th>Medico</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.meet_date %></td>
        <td><%= appointment.meet_time %></td>
        <td><%= appointment.meet_motive %></td>
        <td><%= appointment.meet_state %></td>
        <td><%= appointment.medico %></td>
        <td><%= appointment.user %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= button_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', root_path %>
