<p id="notice"><%= notice %></p>

<p>
  <strong>Dia:</strong>
  <%= @appointment.meet_date %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @appointment.meet_time %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @appointment.meet_motive %>
</p>

<p>
  <strong>Medico:</strong>
  <%= @appointment.medico.name %>
</p>

<p>
<strong>Especialidad:</strong>
  <%= @appointment.medico.specialty %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @appointment.user.email %>
</p>

<%= link_to 'Editar', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
