<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-info" role="alert">
        <%= notice %>
      </div>

      <h1>Detalles de la Cita</h1>

      <table class="table table-bordered">
        <tr>
          <th>Día:</th>
          <td><%= @appointment.meet_date %></td>
        </tr>
        <tr>
          <th>Hora:</th>
          <td><%= @appointment.meet_time.strftime("%H:%M") %></td>
        </tr>
        <tr>
          <th>Motivo:</th>
          <td><%= @appointment.meet_motive %></td>
        </tr>
        <tr>
          <th>Médico:</th>
          <td><%= @appointment.medico.name %></td>
        </tr>
        <tr>
          <th>Especialidad:</th>
          <td><%= @appointment.medico.specialty %></td>
        </tr>
      </table>

      <div class="btn-group" role="group" aria-label="Acciones">
        <%= link_to 'Editar', edit_appointment_path(@appointment), class: "btn btn-primary" %>
        <%= link_to 'Volver', appointments_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

