<!DOCTYPE html>
<html>
  <head>
    <title>MiCitaMedica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if user_signed_in? %>
      <ul class="no-list row center-xs">
        <li class="col-md">
          <%= current_user.email %>
        </li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
