<!DOCTYPE html>
<html>
  <head>
    <title>MiCitaMedica</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

  </head>

  <body>
    <% if user_signed_in? %>
      <ul class="no-list row center-xs around-xs">
        <li class="col-md">
          <%= current_user.email %>
        </li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
